html
  head
    title= a
    != css('common')
  body
    div#flow-container(data-render-engine="#{engine}")
    script(src='/vendor/jquery/dist/jquery.min.js')
    script(src='/vendor/raphael/raphael-min.js')
    script(src='/vendor/vexflow/releases/vexflow-min.js')
    != js('common')

